// custom variables for the mytheme theme


$themeName:  mytheme;

$imageDir:               "../../../css/alta/9.1.0/web/images/";
$commonImageDir:         "../../../css/alta/9.1.0/common/images/";
$fontDir:                "../../../css/alta/9.1.0/web/fonts/";


/* Incluído por Leonel para testar as variáveis*/
$brandColor:           #c70202 !default;
$neutralHue:           203 !default;
$neutralSaturation:    2% !default;
$fontFamily: 'Arial'; 
$rootFontSize: 14px;
$textColor: orange;
$linkTextColor: green;