
$themeName:  mytheme;
$imageDir:               "../../../css/alta/9.1.0/windows/images/";
$commonImageDir:         "../../../css/alta/9.1.0/common/images/";
$fontDir:                "../../../css/alta/9.1.0/windows/fonts/";