// san francisco ios theme
//
// The "san francisco" theme uses the colors of a certain san francisco based sports team.
//
// In addition to changing colors various non-color customizations are made. For example here are a few changes:
//  - buttons - customize default chroming
//  - tabs - customize tabs to be rounded instead of square
//  - navlist - for vertical navlist make the bgcolor strong
//
// NOTE: The demo themes have not been designed to meet contrast ratio requirements and therefore may not accessible.

// VARIABLES
//-----------------------------------------------------------------------------
$themeName:  sanfrancisco;

$brandColor:           #F2552C !default;
$neutralHue:           33 !default;
$neutralSaturation:    23% !default;

// Image and font directories 
$imageDir:             "../../../css/alta/9.1.0/ios/images/";
$commonImageDir:       "../../../css/alta/9.1.0/common/images/";
$fontDir:              "../../../css/alta/9.1.0/ios/fonts/";
$spriteImages:         "../../../themes/sanfrancisco/ios/images/sprites/sprite.svg";

// UNIVERSAL VARIABLES
// ----------------------------------

// Universal Font & Text Styling
// -----------------------------

// font size
$rootFontSize:    .875em;

// Universal Background and Border Styling
//----------------------------------------

// radius
// show a more rounded look and up the border radius variables
$largeBorderRadius:  9px;
$mediumBorderRadius: 7px;
$smallBorderRadius:  4px;

// COMPONENT VARIABLES
// -------------------

// buttons
// -------

// chroming option defaulting
$buttonChromingOptionDefault: outlined;
$buttonsetChromingOptionDefault: outlined;

// forms
// -----
$formLayoutLabelInlineAlign: end;
$formLayoutFieldInlineAlign: start;

$formControlBorderWidth:   1px;
$formControlBorderRadius:  5px;

// Controls the horizontal padding inside an input
$formControlPaddingHorizontal: 10px;

// train
// -----
$trainLabelTextWrap:       nowrap;

// navigationList
// --------------
// For vertical navlist make the bgcolor strong

$navigationListItemBorderWidth:          0;
$navigationListIconOnlyItemBorderWidth:  0;

// progress
// --------

// The built in alta-ios overlay is blue, replace it with a black and white version, and use opacity so the 
// background color shows through.
$progressBarIndeterminateOverlayOpacity:   .2;
$progressBarIndeterminateOverlayImage:     "../../common/ios/images/animated-overlay.gif";

$progressCircleIndeterminateOverlayImage:  "../../common/ios/images/spinner_full.gif";

// IMPORTS
//-----------------------------------------------------------------------------

// Import alta ios aggregating file
@import "../../../scss/oj/alta-ios/oj-alta";

// Import theme sprite style selectors.
@import "../../scss/green-ios/widgets/oj.green.ios.sprite";

// STYLE SELECTORS - Override background images using sprites.
//-----------------------------------------------------------------------------

// radioset and checkboxset
// ------------------------
// The default radio and checkbox images are blue, replace them with images that are orange.

.oj-fwk-icon-checkbox-dis-selected, .oj-menucheckbox-icon.oj-selected.oj-disabled::after, .oj-checkboxset .oj-disabled.oj-selected .oj-radiocheckbox-icon {
  background-image: url($spriteImages);
  @include oj-fwk-icon-checkbox-dis-selected-scale;
}

.oj-fwk-icon-checkbox-ena-selected, .oj-menucheckbox-icon.oj-selected::after, .oj-checkboxset .oj-selected .oj-radiocheckbox-icon {
  // background-image: oj-image-url('sprites/sprite.svg');
  background-image: url($spriteImages);
  @include oj-fwk-icon-checkbox-ena-selected-scale;
}

.oj-fwk-icon-radio-ena-selected, .oj-radioset .oj-selected .oj-radiocheckbox-icon {
  background-image: url($spriteImages);
  @include oj-fwk-icon-radio-ena-selected-scale;
}
