// custom variables for the mytheme theme

$themeName:  mytheme;
$imageDir:               "../../../css/alta/9.1.0/ios/images/";
$commonImageDir:         "../../../css/alta/9.1.0/common/images/";
$fontDir:                "../../../css/alta/9.1.0/ios/fonts/";